.container
    background-color: #ECF0F1
    min-height: 70px
    border-radius: 20px
    display: grid
    grid-template-columns: 80px 1fr

.label
    width: 80px
    background-color: #34495E
    display: flex
    justify-content: center
    align-items: center
    color: white
    border-radius: 20px 0 0 20px

.deals
    display: grid
    grid-template-columns: repeat(auto,minmax(min-content, auto))